extends base 

block head-extras 
  
  script(src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js")
  script(type='text/javascript').

    var sock = new SockJS('#{paths.sock}');
    
    sock.onopen = function() {
      console.log('sock is open');
    };

    function tryToParse(d){
      try {
        return JSON.parse(d);
      } catch(e){
        return null;
      }
    }

    sock.onmessage = function(e) {
      console.log('sock message', e.data);
      let dataObj = tryToParse(e.data);
      if(dataObj.type === 'reload'){
        window.location.reload(false);
      } else if(dataObj.type == 'error'){
        //TODO - render the errors in the UI?
        alert('webpack errors have occured - check the logs');
      }
    };
    
    sock.onclose = function() {
      console.log('sock is closed');
    };